*{
    outline:1px solid red;
}

.box1{
    background-color: #0023FF;
    height: 70px;
    font-size: 40px;
    font-family: 'Dela Gothic One', cursive;
    color: #FFFFFF;
    word-spacing: 20px;
    letter-spacing: 10px;
}

.box2{
    background-color: #32FF00;
    height: 70px;
    align-content: center;
    font-size: 40px;
    text-align: center;
}

.text2{
    font-family: 'Fahkwang', sans-serif;
    font-size: 28px;
    text-align: center;
    position: absolute;
    top:85px;
    color: #0023FF;
    width: 100%;
    word-spacing: 0px;
    letter-spacing: 10px;   
}

body {
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    /*padding: 0;*/
}
.swiper-container {
    width: 100%;
    height: auto;
    font-size: 100px;
    font-family: 'Dela Gothic One', cursive;
    color: #3F0BFC;
}
.swiper-wrapper{
    padding-left: initial;
    margin: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    border-right: 1px solid #0023FF;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.box3{
    font-family: 'Dela Gothic One', cursive;
}
.textn{
    font-family: 'Dela Gothic One', cursive;
    color: #0023FF;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.box4{
    width: 100%;
    background-color: #32FF00;
}
.upload{
    color: #0023FF;
    font-family: 'Dela Gothic One', cursive;
    position: absolute;
    text-align: right;
    top:860px;
    right: 220px;
    font-size: 25px;
}
.upload2{
    color: #0122FE;
    font-family: 'Fahkwang', sans-serif;
    position: absolute;
    top:1040px;
    right: 25px;
    font-size: 18px;
    font-weight: bold;
}
    
.logo{
    height: 180px;
    width: 180px;
    position:absolute;
    top:870px;
    left:70px
}

.qr{
    height: 180px;
    width: 180px;
    position: absolute;
    top:860px;
    right:25px;}
    .button-74 {
    background-color: #fff;
    border: 2px solid #0023FF;
    border-radius: 30px;
    box-shadow: #0122FE 4px 4px 0 0;
    color:#0122FE;
    cursor: pointer;
    display: inline-block;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #EEDBFF;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.heart-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content{
    padding: 13px 16px;
    display: flex;
    cursor: pointer;
}

.heart{
    position: absolute;
    background: url("/img/img.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    height: 120px;
    width: 120px;
    left:50%;
    top:848px;
    transform: translate(-50%,-50%);
}
.text{
    font-size: 21px;
    margin-left: 30px;
    color: grey;
    font-family: 'Montserrat',sans-serif;
}

.numb:before{
    content: '12';
    font-size: 21px;
    margin-left: 7px;
    font-weight: 600;
    color: #9C9496;
    font-family: sans-serif;
}
.numb.heart-active:before{
    content: '13';
    color: #000;
}

.text.heart-active{
    color: #000;
}

.heart.heart-active{
    animation: animate .8s steps(28) 1;
    background-position: right;
  }
@keyframes animate {
    0%{
      background-position: left;
    }
    100%{
      background-position: right;
    }
}

.profile-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #0023FF;
}

.profile-info-container{
    display: grid;
}
.profile-container p{
    color: white;
}


@media screen and (min-width:1025px) and (max-with:1440px){

}
@media screen and (min-width:769px) and (max-with:1024px){

}
@media screen and (min-width:426px) and (max-with:769px){

}
@media screen and (min-width:375px) and (max-with:425px){

}

  