@use 'sass:math';
.box1{
  background-color: #3F0BFC;
  height: 70px;
  font-size: 40px;
  font-family: 'Dela Gothic One', cursive;
  color: #FFFFFF;
  word-spacing: 20px;
  letter-spacing: 10px; 
}
.box2{
  background-color: #32FF00;
  height:1000px;
}
.text2{
  font-family: 'Fahkwang', sans-serif;
  font-size: 28px;
  text-align: center;
  position: absolute;
  top:85px;
  color: #3F0BFC;
  width: 100%;
  word-spacing: 0px;
  letter-spacing: 10px;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

body {
	overflow: hidden;
}
.carrousel {
	overflow: hidden;
	background: #eeeeee;
}


$card-width: 300px;
$card-height: 533px;


// CARDS
.carrousel {
	perspective: 900px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.card {
		position: absolute;
		top: calc(50% - math.div($card-height, 2));
		left: calc(50% - math.div($card-width, 2));
		width: $card-width;
		height: $card-height;
	}
}

// CARDS COLOR
.carrousel {
	.c0 {
		background-color: #fff;
	}
	.c1 {
		background-color: #ddd;
	}
	.c2 {
		background-color: #bbb;
	}
	.c3 {
		background-color: #999;
	}
	.c4 {
		background-color: #777;
	}
	.c5 {
		background-color: #555;
	}
	.c6 {
		background-color: #333;
	}
	.c7 {
		background-color: #111;
	}
}

// ANIMATION
.carrousel {
	.card {
		transition: transform 1200ms, opacity 500ms 500ms, box-shadow 800ms;
	}
	.position0:hover,
	.position1:hover,
	.position7:hover {
		box-shadow: 0 0 2em black;
	}

	$opacity-transition: 1;
	.position0 {
		opacity: 1;
		z-index: 10;
		transform: rotateY(0deg) translateZ(100px) rotateY(0deg) scale(1);
	}
	.position1 {
		opacity: $opacity-transition;
		z-index: 9;
		transform: rotateY(45deg) translateZ(100px) rotateY(-45deg) scale(0.85)
			translatex($card-width * 0.9);
	}
	.position2 {
		opacity: $opacity-transition;
		z-index: 8;
		transform: rotateY(90deg) translateZ(100px) rotateY(-90deg) scale(0.6)
			translatex($card-width * 2.25);
	}
	.position3 {
		opacity: 0;
		z-index: 7;
		transform: rotateY(135deg) translateZ(100px) rotateY(-135deg) scale(0.3);
	}
	.position4 {
		opacity: 0;
		z-index: 6;
		transform: rotateY(180deg) translateZ(100px) rotateY(180deg) scale(0.2);
	}
	.position5 {
		opacity: 0;
		z-index: 7;
		transform: rotateY(-135deg) translateZ(100px) rotateY(135deg) scale(0.3);
	}
	.position6 {
		opacity: $opacity-transition;
		z-index: 8;
		transform: rotateY(-90deg) translateZ(100px) rotateY(90deg) scale(0.6)
			translatex(-$card-width * 2.25);
	}
	.position7 {
		opacity: $opacity-transition;
		z-index: 9;
		transform: rotateY(-45deg) translateZ(100px) rotateY(45deg) scale(0.85)
			translatex(-$card-width * 0.9);
	}
}

