.box1 {
  background-color: #3F0BFC;
  height: 70px;
  font-size: 40px;
  font-family: "Dela Gothic One", cursive;
  color: #FFFFFF;
  word-spacing: 20px;
  letter-spacing: 10px;
}

.box2 {
  background-color: #32FF00;
  height: 1000px;
}

.text2 {
  font-family: "Fahkwang", sans-serif;
  font-size: 28px;
  text-align: center;
  position: absolute;
  top: 85px;
  color: #3F0BFC;
  width: 100%;
  word-spacing: 0px;
  letter-spacing: 10px;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#central_wrapper {
  width: 317px;
  height: 317px;
  position: relative;
  margin: 50px auto 0;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;
}

#slideshow {
  position: absolute;
  list-style-type: none;
  padding: 0px 16px;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;

}

#slideshow > *{
  display: block;
  position: absolute;
}

#slideshow img{
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius:4px;
  border-radius: 4px;
  box-shadow: 0 0 5px #ccc;
}

#slideshow .front  {
  -webkit-transform: translateZ( 100px );
     -moz-transform: translateZ( 100px );
       -o-transform: translateZ( 100px );
          transform: translateZ( 100px );
    opacity:1;
    
-webkit-transition: -webkit-transform 1s, opacity 1s;
     -moz-transition: -moz-transform 1s, opacity 1s;
       -o-transition: -o-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s;         
}

#slideshow .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 200px ) ;
     -moz-transform: rotateY(   90deg ) translateZ( 200px ) ;
       -o-transform: rotateY(   90deg ) translateZ( 200px ) ;
          transform: rotateY(   90deg ) translateZ( 200px ) ;
    opacity:0;
    
-webkit-transition: -webkit-transform 1s, opacity 1s;
     -moz-transition: -moz-transform 1s, opacity 1s;
       -o-transition: -o-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s; 
            
}
#slideshow .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 200px ) translateX(-360px);
     -moz-transform: rotateY(  -90deg ) translateZ( 200px ) translateX(-360px);
       -o-transform: rotateY(  -90deg ) translateZ( 200px ) translateX(-360px);
          transform: rotateY(  -90deg ) translateZ( 200px ) translateX(-360px);
    opacity:0;
    
-webkit-transition: -webkit-transform 1s, opacity 1s;
     -moz-transition: -moz-transform 1s, opacity 1s;
       -o-transition: -o-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s; 
}

select{
  position: absolute;
  right: 50%;
  bottom: -50px;
  margin-right: -100px;
  width: 200px;
  background: #000;
  color: #fff;
  -webkit-border-radius:4px;
  border-radius: 4px;
  border:1px solid #ccc;
  font-size: 0.7em;
  padding: 5px;
  height: 28px;
}