{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{% static 'core/script.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>Recyclebin</title>
</head>
<body>
  <div class="box1" style="height: 70px; width: 100%;"><marquee>RECYCLE BIN</marquee></div>
	<div class="box2" style="height: 70px; width: 100%;"><div class="text2"><marquee> ถ้าเค้าทิ้งก็มาลงกับเรา YOU TOSS IT , I GOT IT &nbsp;&nbsp;&nbsp;&nbsp; >>>SWIPE FOR MORE WORK>>> </marquee></div></div>
	<script type="text/javascript">
    function slideShow() {
      this.slides = $('#slideshow > *');
      this.count = this.slides.length - 1;
      this.initslide = 0;
  
      this.selectTitles();
      this.initSwiper();
  }
  
  slideShow.prototype.selectTitles = function() {
      var that = this;
      $('#central_wrapper').append('<select></select>');
      $('#slideshow > * > img').each(function(i) {
          $('select').append('<option value="' + i + '">' + $(this).attr('alt') + '</option>');
      });
      $('select').change(this.onChange.bind(this));
  };
  
  slideShow.prototype.initSwiper = function() {
      var that = this;
      var swiper = new Swiper('.swiper-container', {
          loop: true,
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
          on: {
              slideChangeTransitionEnd: function() {
                  that.initslide = this.realIndex;
                  that.animateSlide();
              }
          }
      });
  };
  
  slideShow.prototype.nextSlide = function() {
      this.initslide = (this.initslide + 1) % (this.count + 1);
      this.animateSlide();
  };
  
  slideShow.prototype.prevSlide = function() {
      this.initslide = (this.initslide - 1 + this.count + 1) % (this.count + 1);
      this.animateSlide();
  };
  
  slideShow.prototype.animateSlide = function() {
      var currentSlide = this.initslide;
      var nextSlide = (currentSlide + 1) % (this.count + 1);
      var prevSlide = (currentSlide - 1 + this.count + 1) % (this.count + 1);
  
      $('#slideshow > *').removeClass().not($('#slideshow > *').filter(function(index) {
          return index === currentSlide || index === nextSlide || index === prevSlide;
      })).addClass('left');
      $('#slideshow > *:eq(' + prevSlide + ')').addClass('left');
      $('#slideshow > *:eq(' + nextSlide + ')').addClass('right');
      $('#slideshow > *:eq(' + currentSlide + ')').addClass('front');
  
      $('select option').removeAttr("selected");
      $('select option:eq(' + currentSlide + ')').prop('selected', true);
  };
  
  slideShow.prototype.onChange = function(e) {
      var that = this;
      var s = $('select option:selected').index();
  
      if (s > this.initslide) {
          var steps = s - this.initslide;
          for (var i = 0; i < steps; i++) {
              this.nextSlide();
          }
      } else if (s < this.initslide) {
          var steps = this.initslide - s;
          for (var i = 0; i < steps; i++) {
              this.prevSlide();
          }
      }
  };
  
  $(function() {
      new slideShow();
  });
  
  </script>
      
  <div id="central_wrapper">
    {% for info_object in info_objects %}
    <li>
      <div>
        {% if info_object.image %}
          <img src="{{ MEDIA_URL }}{{ info_object.image.url }}" alt="img">
        {% else %}
          <!-- Handle the case where there's no image -->
          No Image Available
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </div>

  <script type="text/javascript">
    $(function() {
      new slideShow();
    });
  </script>

</body>
</html>