{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECYCLEBIN</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">	       
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    {% csrf_token %}
    <script>
        alert("JAVASCRIPT IS RUNNING")
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(csrftoken)
        $.ajaxSetup({
                headers: { "X-CSRFToken": csrftoken }
            });

        $(document).ready(function(){

            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                loop: true,
                slidesPerView: 'auto',
                paginationClickable: true,
                spaceBetween: 0,
                effect: "coverflow",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                },
            });

        $('.content').click(function(){
            $('.content').toggleClass("heart-active")
            $('.text').toggleClass("heart-active")
            $('.numb').toggleClass("heart-active")
            $('.heart').toggleClass("heart-active")
            });
        });

            
        var clicks = 0;

        function onClick(info_object_id) {
            $.ajax({
                url: `/like/${info_object_id}/`,
                method: 'POST',
                success: function(response) {
                    document.getElementById(`clicks_${info_object_id}`).innerHTML = response.like_count;
                }
            });
        }

        // Call this function on page load to set the initial like counts
        function setInitialLikeCounts() {
            {% for info_object in info_objects %}
            $.ajax({
                url: `/get_like_count/${info_object.id}/`,
                method: 'GET',
                success: function(response) {
                    document.getElementById(`clicks_${info_object.id}`).innerHTML = response.like_count;
                }
            });
            {% endfor %}
        }

        $(document).ready(function() {
            setInitialLikeCounts();
        });
                                                                                        

    </script>
</head>
<body>
    <div class="box1">
        <div class="marquee-text">RECYCLE BIN</div>
    </div>
    <div class="box2">
        <div class="text2">
            <div class="marquee-text">ถ้าเค้าทิ้งก็มาลงกับเรา YOU TOSS IT , I GOT IT &nbsp;&nbsp;&nbsp;&nbsp; >>>SWIPE FOR MORE WORK>>> </div>
        </div>
    </div>
    <div class="box3">
        <div class="swiper-container">
            <div class="swiper-wrapper"> 
                {% for info_object in info_objects %}   
                <div class="swiper-slide">
                    <div class="profile-container">
                        <div class="img-container">
                            <img src="{{ info_object.image.url }}" alt="img">
                        </div>
                        <div class="profile-info-container">
                            <p>TITLE</p>
                            <p>{{ info_object.Title }}</p><br>
                            <p>DESCTIPTION</p>
                            <p class="info-Des">{{ info_object.description }}</p><br>
                            <p>REASON OF REJECTION</p>
                            <p class="info-rj">{{ info_object.reason_of_rejection }}</p><br>
                            <p>CONTACT</p>
                            <p>{{ info_object.Contact }}</p>
                        </div>
                    </div>
                    <div class="textn">RECYCLEBIN</div>
                    <div class="buttn">
                        {% csrf_token %}
                        <button type="button" class="button-74" role="button" onclick="onClick({{ info_object.id }})">LIKE
                        <div class="content heart-active"></div>
                        <span class="heart heart-active" style="background: url(img/img.png) no-repeat;"></span>
                        <a id="clicks_{{ info_object.id }}">{{ info_object.likes }}</a>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="logo">
            <img src="{% static 'core/images/1x/logo9.png' %}" alt="logo">
        </div>
        <div class="qr-info">
            <div class="upload">
                UPLOAD<br>YOUR<br>WORK<br>HERE!
            </div>
            <div class="qr">
                <img src="{% static 'core/images/bin.PNG' %}" alt="qr">
            </div>
        </div>
        
    </div>
    <hr color="black">
    <div class="last-box2">
        <div class="text2">
            <div class="marquee-text">ถ้าเค้าทิ้งก็มาลงกับเรา YOU TOSS IT , I GOT IT &nbsp;&nbsp;&nbsp;&nbsp; >>>SWIPE FOR MORE WORK>>> </div>
        </div>
    </div>
    <div class="last-box">
        <div class="marquee-text">RECYCLE BIN</div>
    </div>

    
</body>

</html>